.about { width: 100%; }

.about-content {
  max-width: 680px;
  padding: 1rem 2rem 4rem;
  margin: 0 auto;

  @media (width >= 768px) {
    padding: 5rem 2rem 7rem;
  }
}

.about-header {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0 0 1.5rem;
  }

}

.therapist-photo {
  max-width: 15rem;

  @media (min-width: 768px) {
    float: left;
    margin: 0 2rem 0 0;
  }
}

.about-body p {
  font-size: 1rem;
  line-height: 1.85;
  color: var(--text-mid);
  margin-bottom: 1.5rem;
}
.about-body ul {
  font-size: 1rem;
  line-height: 1.85;
  color: var(--text-mid);
  margin-bottom: 1.5rem;
  margin-left: 3rem;
}

.about-body ul {
  margin-top: -16px;
}

.about-body ul li::marker {
  content: '→  ';
  color: var(--sage);
}
